work/
work_mutation/
work_*/
transcript
simv
simv.daidir/
csrc/
vc_hdrs.h
*.key
*.log
!reports/sample_logs/*.log
*.vcd
*.fsdb
*.wlf
*.ucdb
*.vdb/
logs/*.log
reports/*.ucdb
reports/*.vdb
reports/*.vcd
reports/coverage/html/
reports/final_regression/coverage/html/
__pycache__/
*.pyc
